@model MyEcommerceAdmin.Models.Supplier
@{
    ViewBag.Title = "Add New Supplier";
}
<div class="container">
    <div class="row">
        @*back button*@
        <div class="counter mt-4">
            <div class="row">
                <div class="col-6 col-lg-3">
                    <a href="@Url.Action("Index", "Supplier")" class="btn btn-danger btn-sm fs-4 mb-4"> << Back</a>
                </div>
            </div>
        </div>
        <div class="col">
            <h2 class="text-info">Add New Writter</h2>

            <div class="col-md-12">
                @using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "msg", OnComplete = "clearAll" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="row mb-2">
                        <div id="msg">

                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col-md-6">

                            <label class="form-label">Wirtter name</label>
                            @Html.TextBoxFor(x => x.CompanyName, new { @class = "form-control fs-4" })
                            @Html.ValidationMessageFor(x => x.CompanyName, "*required", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Publisher name</label>
                            @Html.TextBoxFor(x => x.ContactName, new { @class = "form-control fs-4" })
                            @Html.ValidationMessageFor(x => x.ContactName, "*required", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">Topic <span class="badge bg-danger">Popular for, the topic</span></label>
                            @Html.TextBoxFor(x => x.ContactTitle, new { @class = "form-control fs-4" })
                            @Html.ValidationMessageFor(x => x.ContactTitle, "*required", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">Wirtter Email</label>
                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control fs-4", Type = "email" })
                            @Html.ValidationMessageFor(x => x.Email, "*required", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Wirtter Phone</label>
                            @Html.TextBoxFor(x => x.Phone, new { @class = "form-control fs-4" })
                            @Html.ValidationMessageFor(x => x.Phone, "*required", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Wirtter Country</label>
                            @Html.TextBoxFor(x => x.Country, new { @class = "form-control fs-4" })
                            @Html.ValidationMessageFor(x => x.Country, "*required", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Wirtter City</label>
                            @Html.TextBoxFor(x => x.City, new { @class = "form-control fs-4" })
                            @Html.ValidationMessageFor(x => x.City, "*required", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Wirtter Address</label>
                            @Html.TextAreaFor(x => x.Address, new { @class = "form-control fs-4" })
                            @Html.ValidationMessageFor(x => x.Address, "*required", new { @class = "text-danger" })
                        </div>
                        @*<div class="col-md-6" style="padding-top:50px;">
                            <button type="submit" class="btn btn-success btn-lg col-12"><i class="fa-regular fa-floppy-disk fs-4"></i> Save</button>
                        </div>*@
                    </div>

                    @*add btn*@
                    <div class=" mt-4">
                        <div class="row justify-content-md-end align-self-end">
                            <div class="col-6 col-lg-3">

                                <button type="submit" class="btn btn-success btn-lg col-6">Save</button>
                            </div>
                        </div>
                    </div>

                }

                
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Content/JS/jquery-3.6.0.js"></script>
    <script src="~/Content/JS/jquery.validate.js"></script>
    <script src="~/Content/JS/jquery.validate.unobtrusive.js"></script>
    <script src="~/Content/JS/jquery.unobtrusive-ajax.js"></script>
    <script>
        function clearAll() {
            $("#form0").trigger("reset");
        }
    </script>

}
