@model IEnumerable<MyEcommerceAdmin.Models.Supplier>
@{
    ViewBag.Title = "Supplier Information";
}

<div class="row">
    
    <div class="col">
        <h2 class="text-info">Writter list</h2>
        <hr />
        <div class="d-flex justify-content-end mb-2">
            <a href="@Url.Action("Create", "Supplier")" class="btn btn btn-outline-primary">Add new Writter</a>
        </div>
        <div class="table-responsive">
            <table class="table table-condensed table-hover table-bordered table-striped table">
                <thead>
                    <tr>
                        <th>Writter Name </th>
                        <th>Publisher Name </th>
                        <th>Topic <span class="badge bg-danger"> Popupal for, the topic</span> </th>
                        <th>Phone </th>
                        <th>Email </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var sup in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(s => sup.CompanyName)</td>
                            <td>@Html.DisplayFor(s => sup.ContactName)</td>
                            <td>@Html.DisplayFor(s => sup.ContactTitle)</td>
                            <td>@Html.DisplayFor(s => sup.Phone)</td>
                            <td>@Html.DisplayFor(s => sup.Email)</td>
                            <td>
                                <a href="@Url.Action("Edit", "Supplier", new {id = sup.SupplierID })" class="btn btn-outline-warning btn-sm">Edit</a>
                                <a href="@Url.Action("Details", "Supplier", new {id = sup.SupplierID })" class="btn btn-outline-info btn-sm">Details</a>
                                <a href="@Url.Action("Delete", "Supplier", new {id = sup.SupplierID })" class="btn btn-outline-danger btn-sm">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


